@model IEnumerable< Web_Facts_Product_Selling.ViewModel.CartItem>
@{
    ViewData["Title"] = "Show_Cart";
    Layout = "~/Areas/Admin/Views/Shared/_WelcomeLayout.cshtml";
}

@{
	double total = 0;
}

<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="{{URL::to('/')}}">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<div class="col-sm-9">
				<table class="table table-condensed" >
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
					   {
						<tr>
							<td class="cart_product">
									<img src="~/public/frontend/images/@item.ProductImage" alt="" style="max-height:100px;max-width:100px" />
							</td>
							<td class="cart_description">
								<h4><a href="">@item.ProductName </a></h4>
							</td>
							<td class="cart_price">
								<p>@item.ProductPrice </p>
							</td>

								<td class="cart_quantity">
								<p>@item.NumberOfItems </p>
							</td>

							<td class="cart_total">
								<p class="cart_total_price">
										@item.subtotal
								</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
						
								total = total + item.subtotal;
						
						}
							
						


					</tbody>
				</table>
				</div>
			</div>
		</div>
	</section> <!--/#cart_items-->
    <section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>What would you like to do next?</h3>
				<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
			</div>
			<div class="row">

				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Tổng <span>@total</span></li>
							<li>Phí Vận Chuyển <span>Free    </span></li>
							<li>Thành Tiền <span></span></li>

						</ul>
							<a class="btn btn-default check_out" style="margin-left: 40px" href="/show_checkout">Thanh Toán </a>
					</div>
				</div>
			</div>
		</div>
	</section>

